{% extends 'base.html' %}

{% block title %}{{ user.username }} profile settings{% endblock %}

{% block content %}

    <p>
        <strong>Name: </strong> {{ user.first_name }} {{ user.last_name }}

        <br>

        <strong>email:</strong> {{ user.email }}

        <br>
    </p>

    <p>
        <a href={% url 'core:account-update' %}>Edit profile information.</a>
        <br>
        <a href="{% url 'change-password' %}">Change password</a>
        <br>

        TODO: some stats about usage.
    </p>
{% endblock %}