<a href={% url 'core:study-index' %}> << all studies </a>

<h1>{{ study.name }}</h1>

<h2> Description </h2>
<p>{{ study.description }} </p>

<h2> Patients </h2>
    <ul>
    {% for patient in study.patient_set.all %}
        <li><a href={% url 'core:patient-detail' patient.id %}>
            {{ patient.uid }}
        </a></li>
    {% endfor %}
    </ul>

    <a href={% url 'core:create-patient' study.id %}> Create a new patient </a>

<hr>

<a href={% url 'core:delete-study' study.id %}> DELETE STUDY </a>

