{% extends 'base.html' %}


{% block title %}{{ study.name }}{% endblock %}

{% block content %}

<h2> Description </h2>
<p>
    {{ study.description }}
    <br><br>
    <strong>Region:</strong> {{ study.region.name }}
</p>

<h2> Patients </h2>
    <ul>
    {% for patient in study.patient_set.all %}
        <li><a href={% url 'core:patient-detail' patient.id %}>
            {{ patient.uid }}
        </a></li>
    {% endfor %}
    </ul>

    <a href={% url 'core:create-patient' study.id %}> [+] Create a new patient </a>

<br>
<br>

<a href={% url 'core:delete-study' study.id %}> [X] DELETE STUDY </a>


{% endblock %}

