{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Proctor Foundation Trachoma Grading Center</title>
  <h4><a href="{% url 'core:study-index' %}">[home]</a></h4>
  <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
</head>
<body>
  <header>
      <h3> Proctor Foundation Trachoma Grading Center </h3>

      <div align=right>
        {% if user.is_authenticated %}
          Logged in as <a href="{% url 'core:user-home' %}"> {{ user.username }}! </a>
          >>
          <a href="{% url 'logout' %}"> LOGOUT </a>
        {% else %}
          <a href="{% url 'login' %}">login</a>
        {% endif %}
      <div>
  </header>
  <hr>
  <main>

    <h1>{% block title %}{% endblock %}</h1>

    {% block content %}
    {% endblock %}

  </main>
  <hr>
  <footer>
    <a href="https://proctor.ucsf.edu/">Proctor@UCSF</a>
  </footer>
</body>
</html>